<%= form_with(model: movie) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 10 %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :released_on %>
  <%= f.date_select :released_on, {}, {class: "date"} %>

  <%= f.label :total_gross %>
  <%= f.number_field :total_gross %>

  <%= f.label :image_file_name %>
  <%= f.text_field :image_file_name %>

  <%= f.label :duration %>
  <%= f.text_field :duration %>

  <%= f.label :director %>
  <%= f.text_field :director %>

  <%= f.submit %>

<% end %>
