    <header>
      <nav>
        <%= link_to image_tag("logo.png"), root_path %>
        <ul>
          <li>
            <%= link_to "All Movies", movies_path %>
          </li>
        </ul>
      </nav>
    </header>
